<template>
  <Layout>

    <div class="card optional-600">
      <div class="card-header index-header center" >
        <h1>ubuntu<g-image src="~/assets/img/ubuntu-logo.svg" style="width: 1em; position: relative; bottom: .27em; margin-left: -.15em; margin-right: -.2em;" alt="Ubuntu Logo, the circle of friends" /> touch devices</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header"><h2>Ubuntu Touch devices</h2></div>
          <div class="card-body" style="padding: 0">
            <b-table
              style="margin-bottom: 0;"
              striped
              hover
              :items="$page.allDevice.edges.map(n => n.node)"
              :fields="[
                {key: 'name', label: 'Name', sortable: true },
                {key: 'noinstall', label: 'Installer' },
                {key: 'maturity', label: 'Maturity', sortable: true, sortDirection: 'desc' },
                {key: 'comment', label: 'Comment' }
              ]"
              sort-by="maturity"
              :sort-desc="true"
              outlined
              selectable
              select-mode="single"
              @row-selected="openDevice"
            >
              <template v-slot:cell(name)="data">
                <a :href="data.item.path" style="color: inherit;">
                  <b-icon :icon="data.item.icon" /> {{data.item.name}} ({{data.item.codename}})
                </a>
              </template>

              <template v-slot:head(noinstall)="data">
                <div class="optional-400">Installer</div>
              </template>
              <template v-slot:cell(noinstall)="data">
                <div class="optional-400">
                  <b-icon-check v-show="!data.item.noinstall" />
                </div>
              </template>

              <template v-slot:cell(maturity)="data">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" :aria-valuenow="data.item.maturity"
                  aria-valuemin="0" aria-valuemax="1" :style="'width:' + data.item.maturity*100 + '%'" />
                </div>
              </template>

              <template v-slot:head(comment)="data">
                <div class="optional-600">Comment</div>
              </template>
              <template v-slot:cell(comment)="data">
                <div class="optional-600">{{data.item.comment}}</div>
              </template>

            </b-table>
          </div>
        </div>
      </div>

      <div class="col-md">

        <div class="card">
          <div class="card-header">
            <h4>Create your own port!</h4>
          </div>
          <div class="card-body">
            <p>Sure, three billion devices run Java. But did you know that {{$page.allDevice.totalCount}} devices run <a href="https://ubuntu-touch.io" target="_blank" rel="noreferrer noopener">Ubuntu Touch</a>? By the way, if your device is not listed here, you might be interested to learn how to <a href="http://docs.halium.org/en/latest/porting/first-steps.html" target="_blank" rel="noreferrer noopener">make the {{getTotalDevicesIterator($page.allDevice.totalCount)}} Ubuntu Touch port</a>!</p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Legend</h4>
          </div>
          <div class="card-body">
            <p>
              <b>community device</b>: This device was enabled by a volunteer from the community and might not be fully usable yet<br>
              <b>legacy</b>: This device might have bugs that can not be solved due to technical reasons<br>
              <b>experimental</b>: This device was enabled as a proof-of-concept and should not yet be used as a daily-driver<br>
              <b>wip</b>: Work in progress
            </p>
          </div>
        </div>

        <Donate />

      </div>
    </div>

  </Layout>
</template>

<page-query>
query {
  allDevice{
    totalCount
    edges {
      node {
        icon
        codename
        path
        name
        comment
        maturity
        noinstall
      }
    }
  }
}
</page-query>

<script>
import Donate from "~/components/Donate.vue";

export default {
  metaInfo() {
    return {
      title: "Devices",
      meta: [
        {
          name: "description",
          content: `Ubuntu Touch can be installed on the ${this.$page.allDevice.edges
            .sort((c, n) => n.node.maturity > c.node.maturity)
            .map(n => n.node.name)
            .slice(0, 4)
            .join(", ")} and ${this.$page.allDevice.totalCount -
            4} more phones and tablets.`
        },
        {
          property: "og:title",
          content: "Ubuntu Touch Devices"
        },
        {
          property: "og:image",
          content: "/ubuntu-touch-devices-wide.jpg"
        }
      ]
    };
  },
  components: {
    Donate
  },
  data() {
    return {
      items: null
    };
  },
  methods: {
    openDevice(items) {
      window.location.href = items[0].path;
    },
    getTotalDevicesIterator(total) {
      let _total = String(total + 1);
      if (_total.endsWith("1") && _total !== "11") return _total + "st";
      else if (_total.endsWith("2")) return _total + "nd";
      else if (_total.endsWith("3")) return _total + "rd";
      else return _total + "th";
    }
  }
};
</script>
